{% extends 'admin/admin_base.html.twig' %}
    {% block title %}Posts management - Admin panel{% endblock %}

    {% block content %}
        <div class="row">
            <h2>Posts management</h2>
        </div>

        <div id="postTable"></div>


        <script type="text/javascript">

            $(document).ready(function () {

                $('#postTable').jtable({
                    title: 'Table of posts',
                    paging: true,
                    sorting: true,
                    actions: {
                        listAction: '{{ path('admin_post_list') }}',
                        deleteAction: '{{ path('admin_post_delete') }}'
                    },
                    fields: {
                        id: {
                            title: 'Id',
                            key: true,
                            width: '2%'
                        },
                        comments: {
                            title: 'Comments',
                            width: '9%',
                            display: function (data) {
                                var $commentsBtn = $('<span id="comment-num-'+data.record.id+'">'+
                                      data.record.comments_num +
                                      '</span><span class="glyphicon glyphicon-comment" style="cursor:pointer"></span></span>');
                                $commentsBtn.click(function(){showComments($commentsBtn, data)});

                                return $commentsBtn;
                            }
                        },
                        title: {
                            title: 'Title',
                            width: '15%'
                        },
                        description: {
                            title: 'Description',
                            width: '45%'
                        },
                        image: {
                            title: 'Image',
                            width: '5%',
                            display: function (data) {
                                if (data.record.image != null) {
                                    return '<img src="/images/'+data.record.image+'" width="90" height="90"/>';
                                } else {
                                    return 'No image';
                                }
                            }
                        },
                        user: {
                            title: 'Author',
                            width: '13%',
                            display: function (data) {
                                return data.record.user.email;
                            }
                        },
                        posted_at: {
                            title: 'Date',
                            width: '10%',
                            display: function (data) {
                                var creationDate = Date(data.record.posted_at.date);
                                return creationDate.toString();
                            }
                        }
                    }
                });

                $('#postTable').jtable('load');
            });

            function showComments($commentsBtn, data) {
                var postId = data.record.id
                $('#postTable').jtable('openChildTable',
                        $commentsBtn.closest('tr'),
                        {
                            title: 'Post comments',
                            actions: {
                                listAction: '{{ path('admin_comment_list') }}'+'?id=' + postId,
                                deleteAction: '{{ path('admin_comment_delete') }}'+'?postId=' + postId
                            },
                            fields: {
                                id: {
                                    title: 'Id',
                                    key: true,
                                    width: '2%'
                                },
                                comment: {
                                    title: 'Comment',
                                },
                                posted_at: {
                                    title: 'Date',
                                    width: '10%',
                                    display: function (data) {
                                        var creationDate = Date(data.record.posted_at.date);
                                        return creationDate.toString();
                                    }
                                }
                            },
                            recordDeleted : function() {
                                var commentsNum = $('#comment-num-'+postId).html();
                                commentsNum--;
                                $('#comment-num-'+postId).html(commentsNum);
                            }
                        }, function (data) {
                            data.childTable.jtable('load');
                        }
                );
            }
        </script>

    {% endblock %}
