{% extends 'admin/admin_base.html.twig' %}
    {% block title %}My Webpage - Admin panel{% endblock %}

    {% block content %}
        <div class="row">
            <h2>Welcome to the admin panel</h2>
                    Use the links on top to manage your application.
        </div>
    {% endblock %}
