<tr>
    <th class="text-nowrap col-sm-1" scope="row">{{ comment.user.email }}:</th>
    <td>
        {{ comment.comment }}
        <br/><div class="small pull-right text-muted">{{ comment.postedAt|date("m/d/Y") }}
    </td>
</tr>