<!DOCTYPE html>

<!--
  Note: If you havent registered an account, please register users 
  with example-CognitoUserRegistrationEntry.html form.
  
  1. Enter user id, password and click on 'Sign-In' 
  
  2. Once sign-in is successful, you can call 'Predict Class'
  
-->


<!--Look for CHECK: tag and update correct information-->

<html>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="javascript/jsbn.js"></script>
<script src="javascript/jsbn2.js"></script>
<script src="javascript/sjcl.js"></script>
<script src="javascript/aws-cognito-sdk.min.js"></script>
<script src="javascript/amazon-cognito-identity.min.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.6.4.min.js"></script>

<body ng-app="myApp" >   
<div ng-controller="AwsDemoCtrl">
  <form novalidate>
    <h1><span class="label label-primary">Sign-in</span></h1>
    <div class="form-group">
    <p><label for="userName">User Name:</label><br><input class="form-control" type="text" name="userName" ng-model="userName"></p>
    <p><label for="pwd">Password:</label><br><input class="form-control" type="password" name="pwd" ng-model="pwd"></p>    
    <p><button class="btn btn-default"  ng-click="authenticateUser()">Sign-In</button></p>
    <h5>{{registerStatus}}</h5>   
    </div>       
  </form>
  
  <br>

  <form novalidate>
    <h1><span class="label label-primary">Iris Classification</span></h1>
    <div class="form-group">
    <p><label for="sl">Sepal Length (cm)</label><br><input class="form-control" type="text" name="sl" ng-model="params.Record.sepal_length"></p>
    <p><label for="sw">Sepal Width  (cm)</label><br><input class="form-control" type="text" name="sw" ng-model="params.Record.sepal_width"></p>
    <p><label for="pl">Petal Length (cm)</label><br><input class="form-control" type="text" name="pl" ng-model="params.Record.petal_length"></p>
    <p><label for="pw">Petal Width  (cm)</label><br><input class="form-control" type="text" name="pw" ng-model="params.Record.petal_width"></p>        
    <p><button class="btn btn-default"  ng-click="predict()">Predict Class</button></p>
    </div>

    <div ng-show="predictedData.predictedLabel">      
      <h3><span class="label label-primary">Predicted Class: {{predictedData.predictedLabel}}</span></h3>
      <h5>{{predictedData}}</h5>   
    </div>
    
  </form>
</div>

</body>

<script>    
    var app = angular.module('myApp', []);
    // CHECK: Specify Region
    AWS.config.region = 'us-east-1';
    AWS.config.sslEnabled = true;
    
    app.controller('AwsDemoCtrl', function($scope)
    {
        var CognitoUserPool = AmazonCognitoIdentity.CognitoUserPool;
        
        // CHECK: Specify UserPoolId and App ClientId
        var poolData = { 
            UserPoolId : 'us-east-1_aVJQmrx7S', // Your user pool id here
            ClientId : '3rsj0n6kbod9bfrf1sdh5015r5' // Your client id here
        };
        
        // CHECK: Specify Cognito Federated IdentityPoolId
        var identityPoolId = 'us-east-1:f96a731c-f923-4345-8599-8c1c4be6b728';
        
        var userPool = new AWSCognito.CognitoIdentityServiceProvider.CognitoUserPool(poolData);
               
        $scope.params = 
        {
          // CHECK: Specify Model Id
          MLModelId: 'ml-E5Me5YzfZSp',
          // CHECK: Specify Prediction End Point
          PredictEndpoint: 'https://realtime.machinelearning.us-east-1.amazonaws.com',
          Record: {
            Row:"1",sepal_length:"5.4",sepal_width:"3.0",petal_length:"4.5",petal_width:"1.5"
           }           
        };      
        
        $scope.authenticateUser = function () 
        {
            var authenticationData = 
            {
                Username : $scope.userName,
                Password : $scope.pwd,
            };
            
            $scope.registerStatus = "Authenticate start...";
            
            var authenticationDetails = new AWSCognito.CognitoIdentityServiceProvider.AuthenticationDetails(authenticationData);

            var userData = {
                Username : $scope.userName,
                Pool : userPool
            };
            var cognitoUser = new AWSCognito.CognitoIdentityServiceProvider.CognitoUser(userData);
            cognitoUser.authenticateUser(authenticationDetails, {
                onSuccess: function (result) 
                {
                    console.log('access token + ' + result.getAccessToken().getJwtToken());                    
                                        
                    AWS.config.credentials = new AWS.CognitoIdentityCredentials({
                        IdentityPoolId : identityPoolId,
                        Logins : 
                        {            
                            //CHECK: Specify UserPoolId
                            //cognito-idp.us-east-1.amazonaws.com/UserPoolId
                            
                            'cognito-idp.us-east-1.amazonaws.com/us-east-1_aVJQmrx7S' : result.getIdToken().getJwtToken()                            
                        }                                              
                    });                                       

                    $scope.registerStatus = "Authenticate Success...";        
                    $scope.$apply();
                },
                onFailure: function(err) 
                {
                    console.log(err);
                    alert(err);
                },

            });
        }
        
        $scope.predict = function()
        {
            var machinelearning = new AWS.MachineLearning();
            console.log('Predict called');            
            
            var predictPromise = machinelearning.predict($scope.params).promise();
            
            predictPromise.then(function(data)
            {
              console.log('Predict success');
              console.log(data.Prediction.predictedLabel);
              $scope.predictedData = data.Prediction;
              $scope.$apply();
            }).catch(function(err) 
            {
              console.log(err);
              alert(err);
            });  
        }                
    });
</script>
</html>