<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.6.4.min.js"></script>

<!--
Iris Prediction - Invokes AWS ML Prediction to predict the Iris class based on provided input
Look for CHECK: tag and update correct information
-->

<body ng-app="myApp" >   
<div ng-controller="AwsDemoCtrl">
  <form novalidate>
    <h1><span class="label label-primary">Iris Classification</span></h1>
    <div class="form-group">
    <p><label for="sl">Sepal Length (cm)</label><br><input class="form-control" type="text" name="sl" ng-model="params.Record.sepal_length"></p>
    <p><label for="sw">Sepal Width  (cm)</label><br><input class="form-control" type="text" name="sw" ng-model="params.Record.sepal_width"></p>
    <p><label for="pl">Petal Length (cm)</label><br><input class="form-control" type="text" name="pl" ng-model="params.Record.petal_length"></p>
    <p><label for="pw">Petal Width  (cm)</label><br><input class="form-control" type="text" name="pw" ng-model="params.Record.petal_width"></p>        
    <p><button class="btn btn-default"  ng-click="predict()">Predict Class</button></p>
    </div>
    <br>
    <div ng-show="predictedData.predictedLabel">      
      <h3><span class="label label-primary">Predicted Class: {{predictedData.predictedLabel}}</span></h3>
      <h5>{{predictedData}}</h5>   
      <h5>{{errorData}}</h5>   
    </div>
    
  </form>
</div>

</body>

<script>    
    var app = angular.module('myApp', []);
    // CHECK: Specify accessKeyId and secretAccessKey
    AWS.config.update({accessKeyId: 'AKIAIC2T6QUE7KIBTOSQ', secretAccessKey: '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'});
    // CHECK: Specify region
    AWS.config.region = 'us-east-1';
    
    app.controller('AwsDemoCtrl', function($scope)
    {
        var machinelearning = new AWS.MachineLearning();
        $scope.params = 
        {
          // CHECK: Specify Model Id
          MLModelId: 'ml-X9C8jZTdH15',
          // CHECK: Specify Real Time EndPoint
          PredictEndpoint: 'https://realtime.machinelearning.us-east-1.amazonaws.com',
          Record: {
            Row:"1",sepal_length:"5.4",sepal_width:"3.0",petal_length:"4.5",petal_width:"1.5"
           }           
        };      
        
        
        $scope.predict = function()
        {
            console.log('Predict called');            
            
            var predictPromise = machinelearning.predict($scope.params).promise();
            
            predictPromise.then(function(data)
            {
              console.log('Predict success');
              console.log(data.Prediction.predictedLabel);
              $scope.predictedData = data.Prediction; 
              $scope.$apply();
            }).catch(function(err) 
            {
              console.log(err);
              $scope.errorData = err;
              $scope.$apply();
              alert(err);
            });
        }                
    });
</script>
</html>