<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>

        <script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>

        <title>My Webpage</title>
    </head>
    <body>

        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">My app</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/my-posts">My Posts</a></li>
                        <li><a href="/post">Publish a post</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">

            <article class="col-xs-12 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="http://placehold.it/600x270" alt="" class="bg-primary">
                    <div class="caption">
                        <h4>Post 1</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Suspendisse aliquam, augue vitae pulvinar feugiat, magna ipsum varius tellus, quis lobortis est nulla nec ligula.
                            Aenean cursus enim sit amet tortor rutrum lobortis.
                        </p>

                        <div class="row text-right bg-info">
                            <div class="col-xs-6">
                                12 <span class="glyphicon glyphicon-comment"></span>
                            </div>
                            <div class="col-xs-6">
                                12 <span class="glyphicon glyphicon-heart text-danger"></span>
                            </div>
                            </p>
                        </div>

                    </div>
                </div>
            </article>

        </div>

    </body>
</html>
