
html body{
    font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", "Neue Helvetica", helvetica, "Myriad Pro", Calibri, sans-serif;
    letter-spacing: -1px;
}
/*h1 {
  color: #369;
  font-family: Helvetica, sans-serif;
  font-size: 250%;
  
}*/
/*body {
  margin: 2em;
}*/
.paragraph
{
    max-width: 1000px;
    margin: 0px auto;
    padding: 10px;
    /*background-color: gray;*/
    /*max-width: 300px;*/
}
.layout-row{
    display:flex;
    flex-direction:row;
}
.flex{
    flex:1;
    /*text-align: center;*/
}
.form-input
{
    /*max-width: 400px;*/
    width: 100%;
    min-width: 200px;
    margin: 0px auto;
    /*vertical-align: middle;*/
    /*padding: 40px;*/
    /*background-color: gray;*/
    /*max-width: 300px;*/
}
.form-row{
    padding-bottom: 30px;
}
.form-label
{
    max-width: 700px;
    min-width: 200px;
    /*background-color:lightgrey;*/
    margin: 0px auto;
    align-content: flex-start;
    padding-top: 20px;
    padding-bottom: 10px;
    /*background-color: gray;*/
    /*max-width: 300px;*/
}
.centerized
{
    /*margin: 0 auto;*/
    text-align: center;
    vertical-align: middle;
    /*padding: 0 auto;*/
    /*display: block;*/
}
.head-title
{
    text-align: center;
    padding: 10px;
    color: #555;
    font-size: 36px;
    font-weight: 100;
    display: block;
}
.titleCenter{
    min-height: 50px; 
    padding: 0;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}