@media(min-width: 1200px) {
    body {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #container {
        margin-left: auto;
        margin-right: auto;
        width: 1170px;
    }

    .footer {
        bottom: 0em;
        position: absolute;
        width: 100%;
        height: 2.5em;
    }

    .footer .container {
        margin-left: auto;
        margin-right: auto;
        width: 1170px;
    }
}

@media (max-width:770px) {
     .footer {
        bottom: 0em;
        position: absolute;
        width: 100%;
        height: 2.5em;
    }

    .footer .container {
        margin-left: auto;
        margin-right: auto;

    }
}

.onePadding {
    padding-top:1em;
}