<! DOCTYPE HTML>
<html>
	<head>
		<title>{{title}}</title>
		<link rel="stylesheet" href = "style.css" >
	</head>
	<body>
		<div>
			<nav>
				<a href="/">Home</a>|<a href="products.html">Products</a>|<a href="about.html">Contact</a>
			</nav>
			{%block content%}
			<section>
				<p>Welcome to ABC Inc.<br>Home of great products</p>
			</section>
			{%endblock%}
			<footer> 
				<a href="index.html">Home</a>|<a href="#">PrivacyPolicy</a>|<a href="#">Copyright</a>
			</footer>
		<div>
	</body>
</html>